
main{
  z-index: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 70%;
    
    h1{
        color: rgb(236, 218, 48);
    }
}
.product-container {

    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 2rem;
  }
  
  #product-card {
    width: 300px; /* Ajusta el ancho según tus preferencias */
    margin: 10px; /* Añade un margen entre las tarjetas */
  }

  footer{
    margin-top: auto;
  }