#navHeader {
    display: flex;
    flex-direction: column;
    background-color: #3483fa;
    padding: 1rem;
}

.logo-container {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.logo-container img {
    width: auto;
    height: 2.5rem;
}

.searchBox {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.searchBox input[type="text"] {
    flex-grow: 1;
    padding: 0.8rem;
    border-radius: 1rem;
    border: none;
    margin-right: 1rem;
    width: 20rem; /* Ajusta el ancho del campo de búsqueda */
}

.searchBox button {
    padding: 0.8rem 2rem;
    border: none;
    border-radius: 1rem;
    background-color: #59b9f1;
    color: white;
    cursor: pointer;
}

.links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin: 0.5rem;
}

.links a:hover {
    text-decoration: underline;
}

#Icono-carrito {
    width: 2rem;
    height: 2rem;
}

#carrito-link {
    margin-top: -5px; /* Ajusta el margen superior según sea necesario */
}

.PopOverContent{
    max-width: 50rem;
    max-height: 50rem;
    border: 2px solid black;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0,5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ExitPopover{
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 35px;
    background-color: #658e14;
}

.FinalizarCompra{
    margin: 7px;
    background-color: #658e14;
    color: #b83241;
}

@media (min-width: 48rem) { /* Media query para 768px */
    #navHeader {
        flex-direction: row;
        justify-content: space-between;
    }
  
    .logo-container {
        margin-bottom: 0;
    }

    .searchBox {
        margin-bottom: 0;
    }
}
