nav{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #658e14;
    color: #fff;
    padding: 1rem 2rem;
    box-shadow: 0 0 3px 3px rgba(17, 17, 17, 0.26);

    h1{
        font-family: 'Simpson';
        padding: 0;
        margin: 0;
    }
}


.logo-container {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    gap: 1rem;
}

.logo-container img {
    width: auto;
    height: 2.5rem;
}

.searchBox {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
    width: 40%;
}

.searchBox input[type="text"] {
    flex-grow: 1;
    padding: 0.8rem;
    border: solid #b83241;
    width: 100%; /* Ajusta el ancho del campo de búsqueda */
}

.searchBox button {
    padding: 0.8rem 2rem;
    border: none;
    border-radius: 1rem;
    background-color: #c71717;
    font-family: 'Simpson';
    color: white;
    cursor: pointer;
}

.searchBox button:hover{
    background-color: #ecde1a;
    color: black;
}

.links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin: 0.5rem;
}

.links a:hover {
    text-decoration: underline;
}

#carrito-icono {
    width: 2.5rem;
    height: 2.5rem;
}
#carrito-link {
    margin-top: -5px; /* Ajusta el margen superior según sea necesario */
}
@media (min-width: 48rem) { /* Media query para 768px */
    #navHeader {
        flex-direction: row;
        justify-content: space-between;
    }
  
    .logo-container {
        margin-bottom: 0;
    }

    .searchBox {
        margin-bottom: 0;
    }
}


